<!DOCTYPE html>
<html ng-app>
<head>
	<title>{% block title %}{{ title }}{% endblock %}</title>

	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

	<script type="text/javascript" src="/static/js/angular.min.js"></script>

	{% block css %} {% endblock %}

	{% block js %}{% endblock %}
</head>
<body>
	<!-- Image and text -->
	<nav class="navbar navbar-light">
	  <a class="navbar-brand" href="#">
	    <img src="/static/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
	    Bootstrap
	  </a>
	</nav>

	{% block content %}{% endblock %}
</body>
</html>