{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
  <div id="app" class="row top-padding" ng-controller="demo">
  	<div id="side-nav">
	    <div class="btn-group btn-group-toggle" data-toggle="buttons">
	      <label class="btn btn-secondary">
	        <input type="radio" name="options" id="option1" autoComplete="off" value="Joke"/> Joke
	      </label>
	      <label class="btn btn-secondary">
	        <input type="radio" name="options" id="option2" autoComplete="off" value="DadJokes"/> DadJokes
	      </label>
	      <label class="btn btn-secondary">
	        <input type="radio" name="options" id="option3" autoComplete="off" value="Tweet"/> Tweet
	      </label>
	    </div>
	    <div class="col-md-12 top-padding" align="center">
	      <button class="btn btn-primary">Refresh</button>
	    </div>
	</div>

  	<div class="card col-md-7 margin-left">
  		<div class="card-body">
  			[[demo.label]]
  			<p><span class="badge badge-secondary"></span></p>
  		</div>
  	</div>
  </div>
{% endblock %}

